{{define "footer"}}
    <p class="footer">
      by <a href="https://markmcgranaghan.com">Mark McGranaghan</a> and <a href="https://eli.thegreenplace.net">Eli Bendersky</a> | <a href="https://github.com/sunwei/gobyexample">source</a> | <a href="https://github.com/sunwei/gobyexample#license">license</a>
    </p>
{{end}}
