{{define "footer"}}
    <p class="footer">
      by <a href="https://sunwei.xyz">孙伟</a>
      | <a href="https://github.com/sunwei/gobyexample">source</a>
      | <a href="https://github.com/sunwei/gobyexample#license">license</a>
      | Inspired by <a href="https://github.com/mmcgrana/gobyexample">gobyexample.com</a>
      | Build with LOVE 💞
    </p>
{{end}}
